* {
    box-sizing: border-box;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg,black, rgb(108, 16, 104));    
}

.container {
    
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.container> button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #111;
    color: #eee;
}

.container > button:hover{
    background-color: #eee;
    color: #111;
}

.container> .operador {
    background: purple ;
}

.DoisEspacos {
    grid-column: span 2;
}

.container> .tela {
    grid-column: 1/ -1;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.container > .tela > .resultado {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.container > .tela > .valor {
    color: white;
    font-size: 2.5rem;
}